Vous avez reçu le message suivant via votre site web

<div class="panel panel-info">
    <div class="panel-heading">Nom</div>
    <div class="panel-body">
        {{ entity.name }}
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">Prénom</div>
    <div class="panel-body">
        {{ entity.email }}
    </div>
</div>

