{% extends 'PointWebAppBundle::base.html.twig' %}
{% block content %}
	{% block aside %}
		{{ render(controller('PointWebAppBundle:Default:aside')) }}
	{% endblock %}
	<div class="col-md-9">
		<div class="row text-center">
			<!-- /.col-md-4 -->
				<div class="card hoverable">
					<div class="card-image">
						<img src="{{asset('images/create_web.jpg')}}">
						<span class="card-title"><h1>Réalisation</h1></span>
					</div>
					<div class="card-content">
						-<h5>
						Site vitrine, e-commerce, compabilité mobile, CMS maison.
						</h5>-
						<p>
							- Spécialisé depuis plusieurs années dans la création de <strong>sites internet</strong>, ma mission est de vous accompagner dans la création de <strong>votre projet</strong>. - </br></br>
							- En fonction de vos besoin j'adapte votre site web afin de le rendre évolutif et administrable. -
						</p>
					</div>
					<div class="card-action" style="border-bottom: 1px solid rgba(160, 160, 160, 0.2);">
						<button type="button" class="btn btn-default waves-effect waves-light">Plus d'information</button>
						<a type="button"   href="{{path('point_web_app_contact')}}" class="btn btn-info waves-effect waves-light">Remplir un devis</a>
					</div>

					<div class="card-content">

					
						<p>
							- Spécialisé depuis plusieurs années dans la création de <strong>sites internet</strong>, ma mission est de vous accompagner dans la création de <strong>votre projet</strong>. - </br></br>
							- En fonction de vos besoin j'adapte votre site web afin de le rendre évolutif et administrable. -
						</p>
					</div>
					<div class="card-action" style="border-bottom: 1px solid rgba(160, 160, 160, 0.2);">
						<button type="button" class="btn btn-default waves-effect waves-light">Plus d'information</button>
						<a type="button"   href="{{path('point_web_app_contact')}}" class="btn btn-info waves-effect waves-light">Remplir un devis</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- /.carousel -->
	
	<!-- /.container -->
	<div class="container">
		<hr>
	</div>
	<!-- /.container -->
{% endblock %}