{% extends 'PointWebAppBundle::base.html.twig' %}
{% block content %}
	{% block aside %}
		{{ render(controller('PointWebAppBundle:Default:aside')) }}
	{% endblock %}
	<div class="col-md-9">
		<div class="row text-center">
			<!-- /.col-md-4 -->
			<div class="card hoverable">
				<div class="card-image">
					<img src="{{asset('images/screen_quetzal.png')}}">
					<span class="card-title"><h1>Réalisation</h1></span>
				</div>
				<div class="card-content">
					-<h5>
					La collection de Thonel d'Orgeix
					</h5>-
					<p>
						- intégration & dévoleppement <strong>Symfony2</strong>. - </br></br>
						- Section Artistes et Articles administrable, ajout de photo, texte, et réalisation. -
					</p>
				</div>
				<div class="card-action" style="border-bottom: 1px solid rgba(160, 160, 160, 0.2);">
					<button type="button" class="btn btn-default waves-effect waves-light">Visiter-le</button>
					<a type="button"   href="{{path('point_web_app_contact')}}" class="btn btn-info waves-effect waves-light">Remplir un devis</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- /.carousel -->
<!-- /.container -->
<div class="container">
<hr>
</div>
<!-- /.container -->
{% endblock %}